*
!.gcloudignore
!.dockerignore
!package.json
!package-lock.json
!app/
app/*
!app/src/
!app/src/**
!scripts/
scripts/*
!scripts/build-google.mjs
!infra/
infra/*
!infra/google-cloud/
infra/google-cloud/*
!infra/google-cloud/Dockerfile
!infra/google-cloud/cloudbuild.yaml
